@use './variables' as *;

.site-footer {
    background-color: $darker;

    .company {
        font-weight: 800;
        color: $lighter;
        text-align: left;
        padding-top: 2rem;

        .info {
            font-size: 0.6rem;
            padding-top: 0.6rem;
            margin-bottom: 2rem;
        }
    }

    .socials {
        color: $lighter;
        text-align: center;
        padding-top: 2rem;
        font-size: 0.6rem;

        .socials-icons {
            padding-top: 0.6rem;
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }

}