@use './variables' as *;

.site-main {
    .products {
        padding: 4rem 0 0;
        flex-wrap: wrap;
    }

    .container-img {
        max-width: 1200px;
        margin: 0 auto;

        .product {
            width: calc(96% / 3);
            margin-bottom: 4rem;
            margin-left: 0.4rem;
            position: relative;
        }

        .product img {
            width: 100%;
        }

        div.product img.second-image,
        div.product:hover img.main-image {
            display: none;
        }

        div.product:hover img.second-image {
            display: inline-block;
        }

        div.product span {
            font-size: 0.9rem;
        }

        .details {
            top: 2%;

            .brand {
                font-size: 1rem;
            }

            .link {
                color: black;
                display: block;
                text-transform: uppercase;
                font-size: 1.25rem;
                font-weight: 500;
                padding: 0.3rem 0;
            }

            .new-price {
                color: $discount;
                font-weight: 800;
                padding-right: 0.5rem;
            }

            .products-badge {
                position: absolute;
                left: 0;
                bottom: 20%;
                display: inline-block;
                padding: 0.15rem 0;
                font-weight: 800;
                color: $lighter;
            }

            .discount {
                background-color: $discount;
                display: inline-block;
                padding: 0.2rem;
            }

            .eco {
                background-color: $sustainable;
                display: inline-block;
                padding: 0.2rem;
            }

            .favourite {
                position: absolute;
                top: 2%;
                right: 0;
                background-color: $lighter;
                padding: 0.5rem;
                font-size: 1.5rem;
            }

            .favourite:hover {
                color: $discount;
            }

        }

    }

}